/** CSS STYLE **/
:root {
  --color_white: #fff;
  --color_white2: #d7ccc0;
  --color_light: #f5f4f0;
  --color_orange: #fe8a02;
  --color_main: #fe8a02;
  --color_maindark: #42413c;
  --color_dark: #2a2626;
  --color_dark2: #908d8b;
  --color_brown: #b09a81;
  --color_blue: #1085c5;
  --font_main: 'Open Sans', arial, 'Helvetica Neue', helvetica, sans-serif;
  --font_accent: 'Neucha', 'Papyrus', fantasy;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

html {
  color: var(--color_dark);
  font-family: var(--font_main);
  line-height: 1.6;
  scroll-behavior: smooth;
}

.heading {
  font-family: var(--font_accent);
  line-height: 1.2;
  margin: 0;
  font-weight: normal;
}

.heading__orange {
  color: var(--color_orange);
}

.heading__white {
  color: #fff;
}

.heading_h1 {
  font-size: 4.5rem;
  letter-spacing: -0.02em;
}

.heading_h2 {
  font-size: 3.75rem;
}

.heading_h3 {
  font-size: 2.125rem;
}

.heading_h5 {
  font-family: var(--font_main);
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.2;
}

.heading_remember {
  font-size: 3.25rem;
}

.page {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
}

.section_bg {
  background-color: #f5f4f0;
  padding-top: 98px;
  padding-bottom: 83px;
}

.section_bg::before {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0.06;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  content: '';
}

.section_brown {
  background-color: #b09a81;
}

.section_whatis {
  position: relative;
  z-index: 2;
  margin-bottom: -84px;
  padding-bottom: 0;
  overflow: visible;
}

.section_remember {
  position: relative;
  z-index: 1;
  background-color: var(--color_maindark);
  padding-top: 200px;
  padding-bottom: 80px;
}

.section_subscribe {
  padding-bottom: 78px;
}

.distortion {
  position: relative;
  z-index: 2;
}

.distortion__header {
  position: relative;
  z-index: 2;
  min-height: 525px;
}

.distortion__media {
  position: absolute;
  z-index: 1;
  right: -248px;
  top: -40px;
}

.distortion__content {
  margin-bottom: -63px;
}

.distortion__img {
  height: 525px;
  width: auto;
}

.distortion__footer {
  position: relative;
  z-index: 2;
}

.distortion__text {
  column-count: 2;
  column-gap: 8px;
  color: var(--color_dark);
  line-height: 1.6;
  margin-bottom: 27px;
}

.distortion__text p {
  break-inside: avoid;
  margin: 0;
  margin-bottom: 14px;
}

.distortion__action {
  padding-left: calc(50% + 5px);
}

.button {
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--color_orange);
  display: inline-block;
  vertical-align: middle;
  padding: 12px 24px;
  color: #fff;
  text-decoration: none;
}

.whatis__header {
  text-align: center;
  margin-bottom: 31px;
}

.whatis__subtitle {
  text-align: center;
  line-height: 1.6;
  color: #212529;
}

.whatis__video {
  margin-top: 30px;
}

.whatis__iframe {
  margin: 0 auto;
  display: block;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid_remember {
  margin: 0 -15px;
}

.grid_remember .grid__item {
  padding: 0 15px;
  flex: 0 0 33.3333%;
  margin-bottom: 20px;
}

.distortion-item {
  height: 100%;
  background-color: var(--color_light);
  padding: 24px;
  display: block;
  text-decoration: none;
}

.distortion-item__digit {
  font-family: var(--font_accent);
  color: var(--color_maindark);
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 40px;
}

.distortion-item__title {
  margin: 0;
  color: var(--color_orange);
  margin-bottom: 16px;
  font-family: var(--font_accent);
  line-height: 1.2;
  font-size: 2.125rem;
  font-weight: normal;
}

.distortion-item__text {
  line-height: 1.6;
  color: var(--color_dark);
}

.text-block {
  position: relative;
  z-index: 2;
}

.text-block__row {
  display: flex;
  align-items: flex-start;
}

.text-block__media {
  flex: 0 0 578px;
}

.text-block__img {
  width: 100%;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.text-block__content {
  flex: 1 1 auto;
  padding-top: 2px;
  padding-left: 30px;
}

.text-block__pretitle {
  color: var(--color_dark2);
  font-size: 24px;
  font-family: var(--font_accent);
  line-height: 1.2;
}

.text-block__header {
  margin-bottom: 30px;
}

.text-block__description {
  font-size: 34px;
  line-height: 1.2;
  color: var(--color_dark);
  font-family: var(--font_accent);
}

.text-block__footer {
  margin-top: 100px;
}

.text-block__how {
  background-color: var(--color_brown);
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.text-block__text {
  column-count: 2;
  column-gap: 30px;
  line-height: 1.6;
}

.text-block__text p {
  margin-top: 0;
  margin-bottom: 15px;
  break-inside: avoid;
}

.text-block_white {
  color: #fff;
}

.text-block_white .text-block__pretitle {
  color: var(--color_white2);
}

.text-block_white .text-block__description {
  color: #fff;
}

.text-block_white .text-block__content {
  padding-left: 0;
  padding-right: 30px;
}

.text-block_white .text-block__how {
  background-color: #fff;
  color: var(--color_brown);
}

.subscribe {
  background-color: var(--color_maindark);
  color: #fff;
  padding: 41px 55px;
  display: flex;
  align-items: center;
}

.subscribe__header {
  flex: 0 0 50%;
}

.subscribe__content {
  flex: 0 0 50%;
  padding-left: 16px;
}

.subscribe__label {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 9px;
  display: block;
}

.subscribe__row {
  display: flex;
}

.subscribe__input {
  flex: 1 1 auto;
  font-size: 13px;
  border: none;
  padding: 17px 15px;
  line-height: 1.23;
}

.subscribe__input::placeholder {
  opacity: 0.2;
  color: #757575;
  font-weight: normal;
}

.subscribe__button {
  cursor: pointer;
  background-color: var(--color_orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex: 0 0 62px;
  padding: 0;
}

.subscribe__button::before {
  content: '';
  display: block;
  background-image: url('../images/send.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.subscribe__description {
  font-size: 12px;
  color: #fff;
  line-height: 1.6;
  margin-top: 3px;
}

.subscribe__link {
  color: inherit;
}

.footer {
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  padding-bottom: 110px;
}

.footer__copyright {
  margin-bottom: 16px;
}

.footer__based {
  margin-bottom: 16px;
}

.footer__link {
  color: var(--color_blue);
}
